# The "base" version of the Mkdocs project.
# Note: if you update this, also update `install_requires` in setup.py
# https://github.com/mkdocs/mkdocs
mkdocs==1.1.2
mkdocs-material==5.3.2
mkdocs-monorepo-plugin~=0.4.13
plantuml-markdown==3.4.2
markdown_inline_graphviz_extension==1.1
pygments==2.7.4
pymdown-extensions==7.1
Markdown==3.2.2
