# The "base" version of the Mkdocs project.
# https://github.com/mkdocs/mkdocs
mkdocs>=1.2.2
mkdocs-material==5.3.2
mkdocs-monorepo-plugin~=0.5.0
python-slugify==4.0.1 # For some reason not required from above(?)
plantuml-markdown==3.4.2
pyparsing==2.4.7 # Workaround for run-time error "module 'pyparsing' has no attribute 'downcaseTokens'"
markdown_inline_graphviz_extension==1.1
mdx_truly_sane_lists==1.2
pygments==2.7.4
pymdown-extensions==7.1
Markdown==3.2.2
