# The "base" version of the Mkdocs project.
# https://github.com/mkdocs/mkdocs
mkdocs>=1.2.2
mkdocs-material==8.1.11
mkdocs-monorepo-plugin~=1.0.1
plantuml-markdown==3.5.1
markdown_inline_graphviz_extension>=1.1.1,<2.0
mdx_truly_sane_lists==1.2
pygments==2.10
pymdown-extensions==9.3
Markdown>=3.2,<3.4
