name: ci-python-unittest

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with unittest
        run: |
          python -m unittest src/test_core.py
      - name: Uninstall dependencies
        run: |
          pip list --format=freeze | xargs pip uninstall -y
      - name: Install techdocs-core plugin.
        run: |
          pip install --editable .
      - name: Run mkdocs build end-to-end
        run: |
          mkdocs build --config-file test-fixtures/mkdocs.yml
